# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
test/

# node
node_modules/
npm-debug.log

# bower
public/bower_components/
public/assets/css/
public/assets/fonts/
